@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

body{

background-image: url(https://scontent.fsdu1-1.fna.fbcdn.net/v/t39.30808-6/318518527_2203318543162939_7763573845126837816_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=783fdb&_nc_ohc=yqzn39YKwhkAX8fZgR8&_nc_ht=scontent.fsdu1-1.fna&oh=00_AfAthH1u6-HvLPBaCLbAEg-0JFMXBJYMAjEmqUOWd4OyQQ&oe=65E4E545);

	width: 150px;height: 150px;
	background-position: top;



	


}
{


}
}
body {
-moz-osx-font-smoothing:grayscale;
-ms-flex-direction:column;
-webkit-box-direction:normal;
-webkit-box-orient:vertical;
-webkit-font-smoothing:antialiased;
background:#FFFFE0;
color: #8B008B;
display:flex;
flex-direction:column;
font-family:Montserrat, sans-serif;
font-size: 1em;
font-weight:10px;
margin:0;
min-height:10px;
padding:5%;
}

h1 {
	font-weight: 150;
	font-size: 2.2rem;
	color: #D3D3D3;
	text-align: center;
}

nav {
	margin: 0 auto;
	max-width: 405px;
	background: #8B008B;
	box-shadow:0 3px 15px rgba(0,0,0,.5);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

nav ul li a:focus {
	color: white;
}

nav ul li a:not(:only-child)::after {
	padding-left: 10px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 10px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

.dropdown {
	display: none;
	position: absolute;
	background: #008FEA;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}


footer {
color: #008FEA;
font-size:12px;
margin-top:5em;
text-align:center;
}

footer a {
color:#c0c0c0;
text-decoration:none;
}
